QLSVUI/src/conf/xml-resources/web-service-references/StudentWS/wsdl/localhost_8080/QLSV/StudentWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap/" name="StudentWS">
<types>
<xsd:schema>
<xsd:import namespace="http://soap/" schemaLocation="http://localhost:8080/QLSV/StudentWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="addStudent">
<part name="parameters" element="tns:addStudent"/>
</message>
<message name="addStudentResponse">
<part name="parameters" element="tns:addStudentResponse"/>
</message>
<message name="updateStudent">
<part name="parameters" element="tns:updateStudent"/>
</message>
<message name="updateStudentResponse">
<part name="parameters" element="tns:updateStudentResponse"/>
</message>
<message name="deleteStudent">
<part name="parameters" element="tns:deleteStudent"/>
</message>
<message name="deleteStudentResponse">
<part name="parameters" element="tns:deleteStudentResponse"/>
</message>
<portType name="StudentWS">
<operation name="findAll">
<input wsam:Action="http://soap/StudentWS/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://soap/StudentWS/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="addStudent">
<input wsam:Action="http://soap/StudentWS/addStudentRequest" message="tns:addStudent"/>
<output wsam:Action="http://soap/StudentWS/addStudentResponse" message="tns:addStudentResponse"/>
</operation>
<operation name="updateStudent">
<input wsam:Action="http://soap/StudentWS/updateStudentRequest" message="tns:updateStudent"/>
<output wsam:Action="http://soap/StudentWS/updateStudentResponse" message="tns:updateStudentResponse"/>
</operation>
<operation name="deleteStudent">
<input wsam:Action="http://soap/StudentWS/deleteStudentRequest" message="tns:deleteStudent"/>
<output wsam:Action="http://soap/StudentWS/deleteStudentResponse" message="tns:deleteStudentResponse"/>
</operation>
</portType>
<binding name="StudentWSPortBinding" type="tns:StudentWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentWS">
<port name="StudentWSPort" binding="tns:StudentWSPortBinding">
<soap:address location="http://localhost:8080/QLSV/StudentWS"/>
</port>
</service>
</definitions>